# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/home/node_modules
/backend/node_modules
/backend/package-lock.json
/home/.pnp
/home.pnp.js

# testing
/home/coverage

# production
/home/build

# misc
/home.DS_Store
/home.env.local
/home.env.development.local
/home.env.test.local
/home.env.production.local

/homenpm-debug.log*
/homeyarn-debug.log*
/homeyarn-error.log*

# dependencies
/siparis/node_modules
/siparis/.pnp
/siparis.pnp.js

# testing
/siparis/coverage

# production
/siparis/build

# misc
/siparis.DS_Store
/siparis.env.local
/siparis.env.development.local
/siparis.env.test.local
/siparis.env.production.local

/siparisnpm-debug.log*
/siparisyarn-debug.log*
/siparisyarn-error.log*
